.Brestlers {
    padding-top: 155px;
}

.brestler {

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 64px;
        color: #000000;
    }

    &__sort__inner {
        width: 100%;
        position: relative;
        z-index: 11;

        .brest__sort__btn {
            padding: 18px;
            background: #FFFFFF;
            border: 1px solid #A6B5CA;
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            display: flex;
            gap: 63px;
            align-items: center;
            cursor: pointer;
        }

        .dropdown_content {
            position: absolute;
            height: 300px;
            overflow-y: scroll;


            .dropdown_item {
                padding: 18px;
                background: #FFFAFA;
                border: 1px solid #A6B5CA;
                font-family: 'Prompt', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                cursor: pointer;

            }

            .dropdown_item:hover {
                background-color: #FFFFFF;
            }
        }

    }

    &__select {
        padding: 18px;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

    }

    &__inner {
        margin-top: 34px;
        // border: 1px solid #A6B5CA;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }

    &__card__inner {
        width: 453.5px;
        height: 692px;
        border: 0.5px solid #A6B5CA;
    }


    &__card__image {
        cursor: pointer;
        padding: 27px 71px 0 71px;
        position: relative;


        .card__image__inner {
            display: flex;
            justify-content: center;
            background: rgba(145, 186, 237, 0.05);
            border: 1px solid #91BAED;
            border-radius: 125px;
            height: 438px;
            overflow: hidden;

            img {
                padding-top: 62px;
                width: 281px;
                height: 314px;
                background-position: center;
                background-size: cover;
                transition: 0.5s ease-in-out;
            }
        }

        .card__image__inner:hover img {
            transform: scale(1.06);
        }
    }

    &__card__title {
        max-width: 388px;
        height: 72px;
        margin: 25px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #3D3D3D;
    }

    &__card__btn {
        display: flex;
        justify-content: center;

        button {
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            padding: 13px 100px;
            background: #2A96CD;
            border: 1px solid #2A96CD;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }

        button:hover {
            background-color: #FFFFFF;
            border: 1px solid #2A96CD;
            color: #2A96CD;
        }
    }

    &__card__info {
        padding: 26px 27px;
        background: #F9FBFE;
        border: 1px solid #2A96CD;
        box-shadow: -4px 6px 36px rgba(0, 0, 0, 0.08);
        border-radius: 40px;
        position: absolute;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #2A96CD;
        right: 55px;
        bottom: -10px;
        display: flex;
        align-items: center;
        gap: 16px;
        transition: 0.3s ease-in-out;

        svg path {
            fill: #2A96CD;
            transition: 0.3s ease-in-out;

        }
    }

    &__card__info:hover {
        transform: scale(1.08);
        background-color: #2A96CD;
        color: #FFFFFF;
    }

    &__card__info:hover svg path {
        fill: #FFFFFF;
    }
}




.right__modal__content {
    padding: 39px 30px 38px 80px;
    border: 1px solid hsl(215, 25%, 72%);
    overflow-y: scroll;

}

.modal__right__title {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

// .modal__right__title:nth-child(3){
// margin-top: 20px;
// }

.modal__right__describe {
    margin-top: 16px;
    margin-bottom: 8px;
    max-width: 600px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #636363;
}

.modal__right__brandimg {
    display: flex;
}

.modal__brand__imgages {
    border: 1px solid #A6B5CA;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__brand__imgages:nth-child(1) img {
    width: 140px;
    height: 94px;
}

.modal__brand__imgages:nth-child(2) img {
    width: 192px;
    height: 108px;
}

.modal__brand__imgages:nth-child(3) img {
    width: 171px;
    height: 94px;
}

.about__content__theirgun {
    margin-top: 16px;
}

.content__motor__power {
    padding: 22px 0 22px 39px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #363636;
    border: 1px solid #A6B5CA;
}

.content__modal__call {
    margin-top: 41px;
}

.content__modal__call button {
    padding: 17px 130px;
    background: #2A96CD;
    border: 1px solid #2A96CD;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
}

.content__modal__call button:hover {
    color: #2A96CD;
    background-color: white;
    border: 1px solid #2A96CD;
}

.left__modal__content {
    display: flex;
    align-items: center;
}

.left__modal__insiders {
    width: 100%;
    position: relative;
}


.motorbich {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 152px;
    line-height: 228px;
    letter-spacing: 0.13em;
    color: rgba(145, 186, 237, 0.12);
}

.motorbichIMG {
    position: absolute;
    left: 30%;
    bottom: -25%;
}

.modal__content__closes {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__content__closes svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.paginationCustom {
    margin-top: 40px;
    padding-right: 20px;
    display: flex;
    justify-content: end;

}

.paginate__side {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.paginate__seemore button {
    padding: 22px 28px;
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid #A6B5CA;
    background-color: white;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    cursor: pointer;
}



.page__num a.page__link {
    padding: 11px 19px;
    border: 1px solid #2A96CD;
    border-radius: 50%;
    color: #2A96CD;

}

.page__num a.page__link:hover {
    background-color: #2A96CD;
    color: #FFFFFF;
}





// Media

@media(max-width:1880px) {
    .brestler__card__inner {
        width: 430px;
        height: auto;
        padding-bottom: 28px;
    }

    .brestler__cards {
        justify-content: center;
    }

    .brestler__card__image .card__image__inner {
        height: 400px;
    }


}


@media(max-width:1785px) {
    .brestler__card__inner {
        width: 390px;
    }

    .brestler__card__title {
        margin: 10px 0 0 0;
    }


}

@media(max-width:1625px) {
    .brestler__card__inner {
        width: 350px;
    }

    .brestler__card__image .card__image__inner {
        height: 300px;
    }

    .brestler__card__image .card__image__inner img {
        width: 200px;
        height: 250px;
    }

    .brestler__card__btn button {
        padding: 10px 70px;
        font-size: 20px;
    }

    .brestler__card__title {
        font-size: 20px;
        line-height: 28px;
    }

    .modal__right__brandimg {
        display: block;
    }

    .modal__brand__imgages {
        width: 100%;
    }

}

@media(max-width:1465px) {
    .brestler__card__image {
        padding: 15px 50px 0 50px;
    }

    .brestler__card__inner {
        width: 330px;
    }

}


@media(max-width:1400px) {


    .right__modal__content {
        padding: 20px;
    }



}

@media(max-width:1465px) {


    .brestler__card__inner {
        width: 300px;
    }

    .brestler__card__info {
        padding: 20px 21px;
        font-size: 20px;
    }

    .brestler__card__image .card__image__inner {
        height: 250px;
    }

    .brestler__card__image .card__image__inner img {
        width: 150px;
        height: 200px;
    }

}

@media(max-width:1265px) {

    .content__motor__power {
        font-size: 18px;
    }


    .brestler__card__inner {
        width: 270px;
    }

    .brestler__card__info {
        padding: 10px 11px;
        font-size: 18px;
        gap: 8px;

        svg {
            width: 35px;
            height: 10px;
        }
    }

    .brestler__card__image .card__image__inner {
        height: 220px;
    }

    .brestler__card__image .card__image__inner img {
        width: 120px;
        height: 170px;
        padding-top: 32px;
    }



}

@media(max-width:1200px) {

    .left__modal__content {
        height: 40vh;
    }

    .motorbichIMG img {
        width: 200px;
        height: 270px;
    }

    .motorbichIMG {
        bottom: 0;
        left: 40%;
    }

    .modal__brand__imgages:nth-child(1) img {
        width: 100px;
        height: 60px;
    }

    .modal__brand__imgages:nth-child(2) img {
        width: 100px;
        height: 60px;
    }

    .modal__brand__imgages:nth-child(3) img {
        width: 100px;
        height: 60px;
    }

    .right__modal__content {
        height: 50vh;
    }
}



@media (max-width:820px) {

    .motorbich {
        display: flex;
        justify-content: center;
        font-size: 100px;
    }

    .motorbichIMG {
        left: 35%;
    }

    .modal__right__title {
        font-size: 28px;
        line-height: 32px;
    }

    .modal__right__describe {
        font-size: 16px;
        line-height: 26px;
    }

    .content__motor__power {
        padding: 12px 10px;
        font-size: 18px;
        line-height: 28px;
    }

    .content__modal__call button {
        padding: 10px 80px;
        font-size: 20px;
    }

    .modal__right__brandimg {
        display: block;
    }

    .modal__brand__imgages {
        width: 100%;
    }

}



@media (max-width:700px) {
    .modal__content__closes {
        top: 40px;
    }

    .left__modal__content {
        display: flex;
        justify-content: center;
    }

    .left__modal__content img {
        width: 200px;
        height: 230px;
    }

    .brestler__cards {
        justify-content: center;
    }
}


@media (max-width:550px) {

    .card__maxwidth {
        margin-bottom: 20px;
    }

    .brestler__card__inner {
        width: 300px;
    }

    .brestler__head {
        display: block;
        justify-content: center;
    }

    .brestler__select {
        width: 100%;
    }

}


@media (max-width:470px) {

    .motorbich {
        font-size: 72px;
    }

    .motorbichIMG {
        left: 30%;
    }

    .brestler__card__inner {
        height: auto;
    }


    .brestler__card__btn button {
        padding: 13px 80px;
        margin-bottom: 20px;
    }
}

@media (max-width:430px) {
    .brestler__card__image .card__image__inner {
        height: 280px;
    }

    .modal__right__title {
        font-size: 24px;
    }

    .brestler__card__title {
        font-size: 18px;
    }

    .brestler__card__info {
        padding: 16px 17px;
    }

    .brestler__card__image .card__image__inner img {
        padding-top: 30px;
        width: 230px;
        height: 260px;
    }

    .brestler__card__image {
        padding: 27px 41px 0 41px;
    }

}

@media (max-width:430px) {

    .motorbich {
        font-size: 56px;
    }

    .motorbichIMG {
        left: 25%;
    }


}