.Contactus {
    padding-top: 155px;
}

img.hidden__con{
    display: none;
}

.contact {


    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #A6B5CA;
    }

    &__left {
        padding: 68px 0 0 114px;
    }

    &__left__title {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;
        letter-spacing: 0.04em;
        color: #385981;
    }

    &__left__right {
        margin-top: 28px;
        padding-left: 153px;
    }

    &__left__inputs {

        .left__input {

            margin-bottom: 52px;

            label {
                display: flex;
                font-family: 'Prompt', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.04em;
                color: #385981;

            }

            input {
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                width: 443px;
            }
        }
    }

    &__left__btn button {
        cursor: pointer;
        padding: 14px 64px;
        background: #385981;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    &__left__bg {

        img {
            position: relative;
            bottom: 30px;
            height: 200px;
        }
    }

    &__center {}

    &__right__title {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #363636;
    }

    &__right__describe {
        margin-top: 6px;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #363636;
        margin-bottom: 62px;
    }

    &__right__phone {
        display: flex;
        gap: 27px;
    }

    &__right__phone p {
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #363636;
    }

    &__right__phone a {
        margin-bottom: 47px;
        display: flex;
        align-items: center;
        gap: 27px;
        font-family: 'Prompt', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #363636;
        cursor: pointer;

    }

    &__right__lis ul {
        margin-top: 190px;
        display: flex;
        gap: 18px;

        li a {
            font-family: 'Prompt', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #385981;
        }
    }


}


// Media

@media(max-width:1370px) {
    .contact__inner {
        display: block;
        width: 100%;
    }

    .contact__right{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .contact__left{
        display: flex;
        justify-content: center;
    }

    .contact__center img.xui {
       display: none;
    }

    .contact__center img.hidden__con {
        display: inline;
     }
     
     .contact__center{
        display: flex;
        justify-content: center;
     }

}

@media(max-width:1300px) {
    .contact__left {
        padding: 40px 10px 0 30px;
    }

}



@media(max-width:700px) {
    .contact__left__right {
        padding-left: 0;
    }

    .contact__left__btn button {
        width: 100%;
    }

    .contact__right {
        width: 100%;
        padding: 0 20px 0 30px;
    }

}


@media(max-width:550px) {
    .contact__left__title {
        font-size: 48px;
        line-height: 62px;
    }

    .contact__left__inputs .left__input input {
        width: 100%;
    }

    .contact__left__btn button {
        width: 90%;
    }

    .contact__right__lis ul {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media(max-width:430px) {

    .contact__left__inputs .left__input input {
        width: 90%;
    }

}


@media(max-width:390px) {

    .contact__center img.hidden__con {
        width: 280px;
        height: 70px;
     }
}


@media(max-width:330px) {

  .contact__left{
    padding: 30px 0 0 30px;
  }

}