.home {
  padding-top: 155px;
  border: 1px solid #A6B5CA;


  &_bg img {
    position: relative;
    left: 265px;
  }

  &__inner {
    padding: 110px 90px 101px 112px;

    position: relative;
  }

  &__inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_bg {
    position: absolute;
    z-index: -1;
    right: 35%;
  }

  &_blocks {
    display: flex;
    align-items: flex-end;
    gap: 49px;
  }

  &_title {

    p {
      font-family: 'Prompt', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 100px;
      line-height: 100px;
      color: #3d3d3d;
    }

  }

  &_description {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #636363;
  }

  &_swiper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 48px;

    input {
      display: none;
    }

    .home__swiper__img {
      height: 100%;
      display: flex;
      justify-content: center;
      transition: 1s;

      img {
        width: 210px;
        height: 583px;
      }
    }

  }

  &_swiper_content {
    display: flex;
    flex-direction: column;
    padding-top: 87px;
    width: 468px;
    height: 764px;
    background: radial-gradient(56.54% 56.54% at 50% 50%, #3E6EA9 0%, #385981 100%);
    border-radius: 226px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }

    .swiper-pagination-bullet swiper-pagination-bullet-active {
      width: 12px;
      height: 60px;
      background: #385981;
      border-radius: 8px;
    }


  }



  &_catalog_class {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;
  }

  &_catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 39px;
    left: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 211px;
    height: 211px;
    background: #91baed;
    box-shadow: -4px 6px 36px rgba(0, 0, 0, 0.08);
    border-radius: 200px;
  }
}

.mySwiper {
  position: initial;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.mySwiper.swiper-pagination-bullet.swiper-pagination-bullet-active{
  width: 12px;
  height: 60px;
  background: #385981;
  border-radius: 8px;
}

@media (max-width:1465px) {
  .home__inside {
    flex-direction: column;
  }
  
  .home_blocks{
    margin-top: 70px;
    justify-content: center;
  }

  .home__inner{
    padding: 0;
  }
}

@media (max-width:770px) {

  .home_blocks{
    margin-top: 70px;
    display: block;
    padding-left: 40px;
    padding-bottom: 20px;
  }

  .home_mini_block{
    margin-bottom: 20px;
  }

  .home_bg img{
    left: 0;
    width: 400px;
    height: 500px;
  }

  .home_bg{
    right: 0;
  }

  .home_swiper_content .swiper-pagination-vertical.swiper-pagination-bullets, .home_swiper_content .swiper-vertical > .swiper-pagination-bullets{
    right: 0;
  }

  .home_title p{
    font-size: 62px;
    line-height: 66px;
  }

  .home__inner{
    padding: 0;
  }
}


@media(max-width:585px){

  .swiper-backface-hidden .swiper-slide{
    margin-bottom: 0;
  }

  .home__inside{
    display: block;
    padding: 20px 10px 0 40px;
  }

  .home_swiper_content{
    margin-top: 16px;
    width: 300px;
    height: 500px;
  }

  .home_catalog_class{
    right: 50%;
    top: 60%;
    bottom: 0;
  }

  .home_catalog{
    position: absolute;
    left: 0;
  }

  .home_swiper .home__swiper__img img{
    width: 100px;
    height: 300px;
  }

  

}


@media(max-width:585px){

  .home_catalog{
    width: 130px;
    height: 130px;
    font-size: 18px;
  }

  .home_title p{
    font-size: 42px;
    line-height: 47px;
  }

  .home_description{
    font-size: 18px;
    line-height: 28px;
  }


}


@media(max-width:450px){

  .home_mini_img img{
    width: 60px;
    height: 60px;

  }
  

  .home_title p{
    font-size: 38px;
  }

  .home_swiper_content{
    padding-top: 50px;
    width: 170px;
    height: 270px;
  }

  .home_bg{
    right: auto;
  }

  .home_bg img{
    width: 200px;
    height: 300px;
    left: 0;
  }

  .home_catalog{
    width: 80px;
    height: 80px;
    font-size: 16px;
    left: 25%;
    position: relative;
    right: 0;
  }

  .home_swiper .home__swiper__img img{
    width: 50px;
    height: 170px;
  }

  .home_swiper_content .swiper-pagination-vertical.swiper-pagination-bullets, .home_swiper_content .swiper-vertical > .swiper-pagination-bullets{
    right: 20%;
  }

  .home_swiper_content .swiper-pagination-bullet-active{
    width: 12px;
    height: 48px;
    background-color: #3E6EA9;
  }

  .home_blocks{
    padding-right: 10px;
    padding-left: 20px;
  }

  .home_description{
    line-height: 20px;
    font-size: 14px;
  }


}

@media(max-width:400px){


  .home_catalog{
    position: relative;
  left: 50%;
  }

  .home__inside{
    padding: 20px 10px 0 20px;
  }
  .home_title p{
      font-size: 32px;
      line-height: 36px;

  }
}