@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

html,
body {
  font-family: "Poppins", sans-serif;
}

.App {
  padding: 0 22px;
}


.ErrorPage{
  padding-top: 150px;
  font-size: 72px;
}

.container {
  max-width: 1816px;
  width: 100%;
  margin: 0 auto;
}

.swiper-wrapper {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  border: none;
}

.header_btn.active {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border: 1px solid #A6B5CA;
  animation: menu 0.6s ease;

  button {
    padding: 14px 84px;

    @media(max-width:400px) {
      padding: 10px 40px;
    }
  }
}

.header__burger__menu.active {
  bottom: 10px;

  span {
    bottom: 10px;
    transition: 0.6s ease;
    transform: rotate(-50deg);
  }

  span::before {
    display: none;
  }

  span::after {
    top: 0;
    transform: rotate(100deg);
  }


}


.header_nav.active {
  position: relative;
  z-index: -1;
  display: block;
  animation: menu 0.5s ease-out;


  @keyframes menu {
    from {
      transform: translateY(-20px);
    }

    to {
      transform: translateY(0);

    }

  }


  a {
    display: flex;
    border: 1px solid #A6B5CA;
    justify-content: center;
    padding: 21px 0 21px 0;
  }

}


.header__inner.active {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 50%;
}

.header__burger__menu.active {
  position: absolute;
}


.header_nav_bar.active {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2a96cd;
}


.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__content {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background: white;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.model_kater {
  position: absolute;
  z-index: 100;
  top: 25%;
  right: 27%;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.model_motor {
  position: absolute;
  z-index: 100;
  opacity: 0;
  bottom: -45%;
  pointer-events: none;
  transition: 0.5s;
}

.model_helm {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: 25%;
  left: 14%;
  pointer-events: none;
  transition: 0.5s;
}

.model_radar {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: 20%;
  left: 30%;
  pointer-events: none;
  transition: 0.5s;
}



.model_kater.active {
  pointer-events: all;
  opacity: 1;
}

.model_trans.active {
  pointer-events: all;
  opacity: 1;
}

.model_motor.active {
  pointer-events: all;
  opacity: 1;
}

.model_helm.active {
  pointer-events: all;
  opacity: 1;
}

.model_radar.active {
  pointer-events: all;
  opacity: 1;
}





.model_content_kater {
  padding: 20px;
  width: 460px;
  height: 655px;
  border-radius: 12px;
  background: white;
  border: 1px solid black;
  transform: scale(0.5);
  transition: 0.4s all;
}

.model_trans {
  position: absolute;
  z-index: 100;
  right: 42%;
  bottom: -45%;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.model_content_kater.active {
  transform: scale(1);
}



.modal.active {
  pointer-events: all;
  opacity: 1;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding: 0 22px;
  padding-top: 5px;
  z-index: 99;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    border: 1px solid #A6B5CA;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 68px;
  }


  &_nav_bar {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3d3d3d;
    text-decoration: none;
    transition: 0.4s ease-in-out;

    &:hover {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #2a96cd;
    }

  }



  &_btn {
    button {
      cursor: pointer;
      padding: 23px 56px 24px 55px;
      background: #385981;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      border: none;
    }
  }


  &__burger__menu {
    display: none;
    transition: 0.4s ease-in-out;
  }


}



@media(max-width:1200px) {
  .modal__content {
    display: block;
  }

}


@media(max-width:1140px) {



  .header {

    &__inner {
      display: block;
      padding-top: 15px;
      padding-left: 0;
    }


    &_nav {
      display: none;
    }

    &_logo {
      padding-left: 22px;
    }

    &_btn {
      display: none;
    }

    &__burger__menu {
      display: inline;
      width: 33px;
      height: 30px;
      position: relative;
      cursor: pointer;
      top: 10px;
      right: 22px;

      span {
        position: absolute;
        width: 33px;
        height: 2px;
        background-color: black;
      }

      span::before {
        content: '';
        position: absolute;
        right: 0;
        top: 20px;
        width: 25px;
        height: 2px;
        background-color: black;
      }

      span::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 33px;
        height: 2px;
        background-color: black;
      }

    }

  }

}


@media(max-width:1090px) {
  .model_kater {
    right: 5%;
  }

  .model_content_kater {
    width: 300px;
    height: 485px;
  }
}

@media(max-width:820px) {
  .modal__content {
    width: 80vh;
  }

}


@media(max-width:600px) {
  .model_trans {
    right: 0;
  }

  .model_radar {
    left: 0;
  }
}

@media(max-width:550px) {
  .header {

    &__inner {
      .header_logo svg {
        width: 160px;
        height: 40px;
      }
    }

    &__burger__menu {

      right: 10px;


      span {
        width: 26px;
      }

      span::before {
        width: 18px;
      }

      span::after {
        width: 26px;
      }

    }



  }
}


@media(max-width:450px) {
  .model_kater {
    right: 0;
  }
}